.env
node_modules
package-lock.json
.env
back-end/auth-service/docs/.nojekyll
back-end/auth-service/docs/hierarchy.html
back-end/auth-service/docs/index.html
back-end/auth-service/docs/assets/hierarchy.js
back-end/auth-service/docs/assets/highlight.css
back-end/auth-service/docs/assets/icons.js
back-end/auth-service/docs/assets/icons.svg
back-end/auth-service/docs/assets/main.js
back-end/auth-service/docs/assets/navigation.js
back-end/auth-service/docs/assets/search.js
back-end/auth-service/docs/assets/style.css
back-end/auth-service/docs/classes/application_use-cases_LogIn.default.html
back-end/auth-service/docs/classes/application_use-cases_LogOut.default.html
back-end/auth-service/docs/classes/application_use-cases_SignUp.default.html
back-end/auth-service/docs/classes/exception_HandleException.HandleException.html
back-end/auth-service/docs/classes/infrastructure_repositories_UserRepositoryAdapter.default.html
back-end/auth-service/docs/classes/infrastructure_rest_UserTemplate.default.html
back-end/auth-service/docs/classes/interface_controller_AuthController.default.html
back-end/auth-service/docs/functions/app.buildApp.html
back-end/auth-service/docs/functions/interface_guards_RoleGuard.default.html
back-end/auth-service/docs/functions/interface_routes_AuthRoutes.default.html
back-end/auth-service/docs/interfaces/application_ports_UserRepositoryPort.default.html
back-end/auth-service/docs/interfaces/domain_dto_SessionDto.default.html
back-end/auth-service/docs/interfaces/domain_dto_User.UserDto.html
back-end/auth-service/docs/interfaces/domain_entities_User.User.html
back-end/auth-service/docs/interfaces/infrastructure_rest_UserRepository.UserRepository.html
back-end/auth-service/docs/modules/app.html
back-end/auth-service/docs/modules/application_ports_UserRepositoryPort.html
back-end/auth-service/docs/modules/application_use-cases_LogIn.html
back-end/auth-service/docs/modules/application_use-cases_LogOut.html
back-end/auth-service/docs/modules/application_use-cases_SignUp.html
back-end/auth-service/docs/modules/domain_dto_SessionDto.html
back-end/auth-service/docs/modules/domain_dto_User.html
back-end/auth-service/docs/modules/domain_entities_Session.html
back-end/auth-service/docs/modules/domain_entities_User.html
back-end/auth-service/docs/modules/exception_HandleException.html
back-end/auth-service/docs/modules/infrastructure_db_AuthSingleton.html
back-end/auth-service/docs/modules/infrastructure_repositories_UserRepositoryAdapter.html
back-end/auth-service/docs/modules/infrastructure_rest_UserRepository.html
back-end/auth-service/docs/modules/infrastructure_rest_UserTemplate.html
back-end/auth-service/docs/modules/interface_controller_AuthController.html
back-end/auth-service/docs/modules/interface_guards_RoleGuard.html
back-end/auth-service/docs/modules/interface_routes_AuthRoutes.html
back-end/auth-service/docs/modules/server.html
back-end/auth-service/docs/variables/domain_dto_SessionDto.sessionDtoSchema.html
back-end/auth-service/docs/variables/domain_dto_User.userDtoSchema.html
.env
front/dist/main.d.ts
front/dist/main.js
front/dist/main.js.map
front/dist/components/Button/Button.d.ts
front/dist/components/Button/Button.js
front/dist/components/Button/Button.js.map
front/dist/components/Card/Card.d.ts
front/dist/components/Card/Card.js
front/dist/components/Card/Card.js.map
front/dist/components/Navigation/Navigation.d.ts
front/dist/components/Navigation/Navigation.js
front/dist/components/Navigation/Navigation.js.map
front/dist/pages/chat/chat.d.ts
front/dist/pages/chat/chat.js
front/dist/pages/chat/chat.js.map
front/dist/pages/home/home.d.ts
front/dist/pages/home/home.js
front/dist/pages/home/home.js.map
front/dist/pages/login/login.d.ts
front/dist/pages/login/login.js
front/dist/pages/login/login.js.map
front/dist/utils/component.d.ts
front/dist/utils/component.js
front/dist/utils/component.js.map
front/public/js/main.js
front/public/js/components/Button/Button.js
front/public/js/components/Card/Card.js
front/public/js/components/Navigation/Navigation.js
front/public/js/pages/chat/chat.js
front/public/js/pages/home/home.js
front/public/js/pages/login/login.js
front/public/js/utils/component.js
.env
front/dist/components/ChatItem/ChatItem.d.ts
front/dist/components/ChatItem/ChatItem.js
front/dist/components/ChatItem/ChatItem.js.map
front/dist/components/Floating/FloatingChatComponent.d.ts
front/dist/components/Floating/FloatingChatComponent.js
front/dist/components/Floating/FloatingChatComponent.js.map
front/dist/components/Floating/FloatingContactsComponent.d.ts
front/dist/components/Floating/FloatingContactsComponent.js
front/dist/components/Floating/FloatingContactsComponent.js.map
front/dist/components/Floating/FloatingContatcsComponent.d.ts
front/dist/components/Floating/FloatingContatcsComponent.js
front/dist/components/Floating/FloatingContatcsComponent.js.map
front/dist/components/FloatingChat/FloatingChat.d.ts
front/dist/components/FloatingChat/FloatingChat.js
front/dist/components/FloatingChat/FloatingChat.js.map
front/dist/data/Chat.d.ts
front/dist/data/Chat.js
front/dist/data/Chat.js.map
front/dist/data/Message.d.ts
front/dist/data/Message.js
front/dist/data/Message.js.map
front/dist/pages/chat/ChatView.d.ts
front/dist/pages/chat/ChatView.js
front/dist/pages/chat/ChatView.js.map
front/public/js/components/ChatItem/ChatItem.js
front/public/js/components/Floating/FloatingChatComponent.js
front/public/js/components/Floating/FloatingContactsComponent.js
front/public/js/components/Floating/FloatingContatcsComponent.js
front/public/js/components/FloatingChat/FloatingChat.js
front/public/js/data/Chat.js
front/public/js/data/Message.js
front/public/js/pages/chat/ChatView.js
front/public/css/tailwind.css
